  

 body {
    
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   overflow: hidden;
 }

 .clock {
   width: 600px;
   height: 600px;
    background-image: url(./\ clock.jpeg);
     position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 
 .clock::after {
   content: "";
   position: absolute;
   background-color: black;
   z-index: 11;
   width: 15px;
   height: 15px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
 }

  
  

 .clock .hand {
   --rotation: 0;
   position: absolute;
   bottom: 50%;
   left: 50%;
   background-color: black;
   transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
   transform-origin: bottom;
   border: 1px solid white;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   z-index: 10;
 }

 .clock .hand.second {
   width: 3px;
   height: 35%;
   background-color: red;
 }

 .clock .hand.minute {
   width: 7px;
   height: 30%;
   background-color: black;
 }

 .clock .hand.hour {
   width: 10px;
   height: 20%;
   background-color: black;
 }

  